html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color:#111111;
}
main{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}